<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-grid class="navBar">
            <ion-row>
                <ion-col>
                    <ion-button ion-button class="ion-text-right" size="small" fill="clear" color="primary" (click)="goHome()">
                        <ion-img class="iconMenu" src="../assets/images/homeLogo.png"></ion-img>
                    </ion-button>
                </ion-col>
                <ion-col class="ion-text-right" >
                    <ion-button  size="small" fill="clear" color="primary" (click)="goCart()">
                        <ion-img class="iconMenu" src="../assets/images/cartLogo.png"></ion-img>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-title class="ion-text-center">{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>