    <app-header title="Contact"></app-header>
    
<ion-content padding [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Le batteau de Thibault</p>       
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="../assets/images/TIG3.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <div>
          <p>06.63.99.99.79</p>
          <p>lebateaudethibault@gmail.com</p> 
          <p>www.facebook.com/lebateaudethibault</p>
        </div>           
      </ion-col>
    </ion-row>
   <ion-row>
     <ion-col>
       <p>Qu'il est chaud le soleil   Quand nous sommes en vacances  Y a d'la joie, des hirondelles  C'est le sud de la France  Papa bricole au garage Maman lit dans la chaise longue  Dans ce joli paysage Moi, je me balade en tongs  Que de bonheur! Que de bonheur!</p>
     </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>