    <app-header title="Selection Produits"></app-header>

<ion-content padding [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        <button ion-button (click)="goBack()">Retour</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>Choissisez vos produits</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list padding>
        <ion-button  class="ion-text-start" ion-item color="secondary" *ngFor="let item of details" expand="full" size="large" (click)="addToCart(item)">
        <ion-img src="../../assets/images/poulpe.png" class="selectProductIcon"></ion-img>
        {{item.name}}
        </ion-button>
  </ion-list>

</ion-content>
