  <app-header title="Panier"></app-header>
<ion-content padding [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="9" class="ion-text-right">
        <ion-text>Cliquez pour modifier la quantité</ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button padding size="small" color="danger" (click)="clearCart()">Vider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list padding>
    <ion-button ion-item color="light" *ngFor="let item of this.cart" (click)="quantityActionSheet(item.produit)" expand="full">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{ item.produit.name }}
          </ion-col>
          <ion-col>
            {{ printPrice(item) }}
          </ion-col>
        </ion-row>
      </ion-grid>  
    </ion-button>
  </ion-list>
  <ion-card>
    <ion-card-content class="ion-text-right">
      Total: {{ (printTotal()) }}€
    </ion-card-content>
    <ion-card-content>
        Lieu de livraison (à choisir):
        <ion-select interface="action-sheet">
          <ion-select-option class="ion-text-center" value="gascons" >Bistrot des Gascons</ion-select-option>
          <ion-select-option class="ion-text-center" value="cafePhare" >Café des Phares</ion-select-option>
          <ion-select-option class="ion-text-center" value="tulipe" >Le Vert Tulipe</ion-select-option>
          <ion-select-option class="ion-text-center" value="ruche" >Ruche qui dit Oui</ion-select-option>
        </ion-select>
        <ion-text>Date de livraison:{{ this.total }}</ion-text>
        <ion-text>Vendredi 28 octobre, à partir de 9h</ion-text>
        <ion-text class="ion-text-right">
          <ion-button ion-item expand="full"  color="dark" (click)="showAlert()" class="cartItem">Valider</ion-button>
          </ion-text>
      </ion-card-content>
  </ion-card>
</ion-content>
