<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../assets/images/iTunesArtwork.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col className="ion-align-self-center">
            <ion-button ion-button class="menuBtn ion-align-self-right" color="secondary" expand="full" (click)="onGoToSelectCategory('store')">
              <ion-img class="iconMenu" src="../assets/images/poisson.png"></ion-img>
              Produits et promotions
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col className="ion-align-self-center" size=6 *ngFor="let item of lienList">
              <ion-button class="menuBtn .ion-float-left" ion-button expand="full" size="large" color="primary" (click)="onGoToSelectCategory(item.lien)">
                <ion-img class="iconMenu" src="{{item.icon}}"></ion-img>
                {{ item.name }}
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
